.wrapper {
  background-color: white;
  border-radius: 15px;
  min-height: 142px;
}

.roundedTable {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 15px;
}

.headerCell {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.firstFooterCell {
  border-bottom-left-radius: 15px;
}

.lastFooterCell {
  border-bottom-right-radius: 15px;
}

.goldenGlow {
  background-color: gold !important;
}

.selectAndDatePickerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.selectAndDatePickerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.datePickerWrapper {
  width: 200px; /* Adjust based on your layout */
}

.selectWrapper {
  width: 300px; /* Adjust based on your layout */
}
